*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, span  {
    font-family: 'Bangers', 'cursive';
    letter-spacing: 1px;
    margin-bottom: 15px;
}

:root{
	--black-color:#000 ;
	--second-color:#14213d ;
	--third-color:#fca311 ;
	--fourth-color:#ffe4e4 ; 
	--white-color:#fff;       
}

.top-home nav {
	background-color: #14213d;
	width: 100%;
	height: 100px ;
	display: flex;
	justify-content: space-between;
	padding: 30px 14%;
}

.top-home nav h1 {
	color: #fca311;
	font-size: 2rem;
}

.top-home nav span{
	color: #fff;
}

.top-home nav ul li{
	display: inline-block;
	list-style-type: none;
	padding-left: 40px;
}

.top-home nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;
	transition: all .5s ease;
}

.top-home nav ul li .active{
	color: #fca311;
	transition: all .5s ease;
}

.top-home nav ul li .active:hover{
	color: #fff;
}

.top-home nav ul li a:hover{
	color: #fca311;
}

.hero {
	position: relative;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('/TaascodeSchool/TaasCode/images/stu.jpg');
	background-position: center;
	background-size: cover;
	height: 85vh;
  }
  

/*.hero::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(3, 10, 0, .50);
}
*/
.hero h1{
	font-size: 3rem;
	color: #fff;
	padding-top: 8%;
	text-align: center;
}

.hero p{
	text-align: center;
	color: #ffe4e4;
	padding: 20px 18%;
	font-size: 1.1rem;
}

.hero button{
	text-align: center;
	margin: 20px 44%;
	background-color: #fca311;
	color: #000;
	padding: 15px 25px;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 10px;
	transition:all .5s ease;
}

.hero button:hover{
	background-color: #fff;
}
        

.course-countainer{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 5rem;
                   }
                  
                   .cr-title{
	font-size: 2.5rem;
	font-weight: 600;
                  }
                  
                  .sub-title{
	font-size: 1.2rem;
                  }
                  
                  .row{
	display: flex;
	margin-top: 4%;
	justify-content: space-between;
                  }
                  
                  .icon{
	font-size: 4rem;
	font-weight: 500;
	cursor: pointer;
                  }
                  
                  #html{
	color: #e34c26;
                   }
                   
                   #css{
	 color: #264de4;
                   }
                   
                   #js{
	   color: #f0db4f; 
                   }
                  
                   #node{
	color: #3c873a;
                   }
                  
                   #react{
	color: #61dafb;
                   }
                  
                   #Python{
	color: #306998;
                   }
                   
                   .course-icon{
	flex-basis: 31%;
	box-sizing: border-box;
	border-radius: 1rem;
	margin-bottom: 4%;
	padding: 1.25rem 0.75rem;
	transition: 0.5s;
                   }
                  
                   h2{
	color: var(--second-color);
	font-size: 1.6rem;
	padding: .5rem 0;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
                  }
                  
                  .course-descr{
	color: var(--container-color);
	font-size: 1rem;
	line-height: 1.4rem;
	padding: 0.4rem;
	font-weight: 300;
	
                  }
                  
                  .course-icon:hover{
	box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
                  transition: all 0.25s; 
                  transition-timing-function: cubic-bezier(0.31, -0.105); 
                  }
                  
